{% extends "base.html" %}

{% block content %}
<div class="container">
  <section>
    <div class="pb-2 mt-4 mb-2 border-bottom">
      <h1>Set Secret</h1>
    </div>
    <form role="form" id="password_create" method="post" class="form-horizontal">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <div class="input-group">
                        <textarea rows="10" cols="50" id="password" name="password" minlength="1" autofocus="true" class="form-control" placeholder="SnapPass allows you to share secrets in a secure, ephemeral way. Input a single or multi-line secret, its expiration time, and click Generate URL. Share the one-time use URL with your intended recipient." aria-describedby="basic-addon1" autocomplete="off"></textarea>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
        		    <select class="form-control" name="ttl">
            		    <option value="Hour">One Hour</option>
            		    <option value="Six_Hours">Six Hours</option>
            		    <option value="Day">One Day</option>
            		    <option value="Three_Day">Three Days</option>
            		    <option value="Week">One Week</option>
                    </select>
	            </div>
            </div>

            <div class="col">
        		<div class="form-group">
                    <button type="submit" class="btn btn-primary" id="submit">Generate URL</button>
                </div>
            </div>
        </div>
    </form>
  </section>
</div>
{% endblock %}

{% block js %}
{% endblock %}
